name: Windows CI Test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: prepare
      run: |
        make prepare
    - name: configure
      run: |
        cmake -H"." -Bbuild -T host=x86 -A x64 -DCMAKE_BUILD_TYPE="Debug"
    - name: building
      run: |
        cmake --build build --config Debug --target lmi_unit_tests -j4
    - name: testing
      run: |
        .\build\tests\Debug\lmi_unit_tests.exe
